<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta-name="description=" content="A random name draw for Meetup groups.">
        <meta property="og:title" content="Dev Diner - Random Meetup Name Draw" />
        <link href="/css/styles.min.css" rel="stylesheet" type="text/css">
        <title>Dev Diner - Random Meetup Name Draw</title>
    </head>
    <body>
        <div class="container">
            <div id="app"></div>
        </div>
        <script src="js/main.js"></script>
    </body>
</html>
