.ashburylight {
	font-family: 'ashburylight';
}

@font-face {
    font-family: 'ashburylight';
    src: url('../fonts/AshburyLig-webfont.eot');
    src: url('../fonts/AshburyLig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AshburyLig-webfont.woff2') format('woff2'),
         url('../fonts/AshburyLig-webfont.woff') format('woff'),
         url('../fonts/AshburyLig-webfont.ttf') format('truetype'),
         url('../fonts/AshburyLig-webfont.svg#ashburylight') format('svg');
    font-weight: normal;
    font-style: normal;

}